.uk-navbar-padding-500 {
  padding: 0px 500px;
}

* {
  font-family: "Segoe UI", sans-serif !important;
}

.uk-logo,
a {
  font-weight: 200;
  color: #232323;
}

.darkmode--activated nav {
  background-color: black !important;
  border-bottom: 2px solid #0c0c0c;
}

.darkmode--activated .logo-name {
  color: white !important;
}

.uk-navbar-right {
  padding: 0px 500px 0px 0px;
}

nav {
  background-color: white !important;
  border-bottom: 2px solid #efefef;
}
